<!DOCTYPE html>
<html>
<head>
<title>Registration</title>
</head>
<body>
<h1>Register as a user</h1>
<form action="/register" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    
    <label for="role">Register as:</label>
    <select name="role">
        <option value="customer">Customer</option>
        <option value="provider">Service Provider</option>
    </select>
    
    <input type="submit" value="Register">
</form>

</body>
</html>