<!DOCTYPE html>
<html>
<head>
    <title>E-shop autorských knih</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('products') }}">Products</a></li>
            <li><a href="{{ url_for('cart') }}">Cart</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
    </nav>
</body>
</html>
